// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

html {
  height: 100%;
}

body.VisitorsController {
  background-color: #000;
  background: url(intro-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .navbar-fixed-top {
    background-color: rgba(0, 0, 0, 0.2);
    .a, .navbar-brand {
      color: #FFF;
    }
    .navbar-brand:hover {
      color: #DDD;
    }
  }
  .intro {
    width: 100%;
    height: auto;
    padding: 150px 0;
    text-align: center;
    color: #fff;
    .intro-body {
      vertical-align: middle;
      .brand-heading {
        font-size: 40px;
      }
      .intro-text {
        font-size: 18px;
      }
    }
  }
}
