#listings-table {
  td.details-control {
    background: image-url('details_open.png') no-repeat center center;
    cursor: pointer;
    padding: 0 12px;
  }

  td.title .normal { display: inline; }
  td.title .detail { display: none; }
  tr.shown {
    td.details-control {
      background: image-url('details_close.png') no-repeat center center;
    }
    td.title .normal { display: none; }
    td.title .detail { display: inline; }
  }
  .listing-detail {
    margin: 10px;
    color: #444;
    font-size: 0.8em;
    .buttons {
      text-align: center;
      margin: 10px;
    }
    .well {
      margin-bottom: 10px;
      padding: 15px;
      h6:first-child {
        margin-top: 0;
      }
    }
  }

  tr {
    td.status {
      min-width: 80px;
      .label {
        display: inline;
      }
      .buttons {
        display: none;
      }
    }
  }
  tr:hover {
    td.status {
      .label {
        display: none !important;
      }
      .buttons {
        display: block;
      }
    }
  }
  tr.child-row td {
    padding: 0;
    box-shadow: inset 4px 5px 10px -4px #ABABAB;
    background: #ddd
  }
  tbody tr {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}
table#listings-table.table.table-striped tr.child-row td {
  background: #FAFAFA;
}